<div style="position: fixed; width: 100%">
<md-toolbar color="primary">
  <div class="md-toolbar-tools">
    <h1>
      Contact manager
    </h1>
  </div>
</md-toolbar>
<md-tab-group>
  <md-tab label="Tab 1">Content 1</md-tab>
  <md-tab label="Tab 2">Content 2</md-tab>
</md-tab-group>
<button md-raised-button color="primary">primary</button>
<div class="container">
  <hostcard></hostcard>
  <hostcard></hostcard>
  <hostcard></hostcard>
  <hostcard></hostcard>
  <hostcard></hostcard>
  <hostcard></hostcard>
  <hostcard></hostcard>
  <hostcard></hostcard>
</div>
</div>


<div class="md-listview">

</div>